#!/usr/bin/env ruby

preprocess do
    @items.each do |item|
        if item[:submitted]
            item[:submitted] = DateTime.parse(item[:submitted].to_s)
        end
    end
end

compile "/**/*.scss" do
    filter :sass, syntax: :scss
    write item.identifier.without_ext + ".css"
end

compile "/*.xml" do
    filter :erb
    write item.identifier
end

compile "/**/*.md" do
    filter :target_blank
    filter :kramdown
    layout "/default.*"
    write item.identifier.without_ext + ".html"
end

compile "/**/*.slim" do
    filter :slim
    layout "/default.*"
    write item.identifier.without_ext + ".html"
end

compile "/**/*.xml" do
    filter :erb
    write item.identifier.without_ext + ".html"
end

compile "/**/*.{png,jpg,gif,svg}", :rep => :thumbnail do
    filter :thumbnailize, :height => 200
    write item.identifier + "-thumbnail.png"
end

passthrough "/**/*"

layout "/**/*", :slim
