#!/usr/bin/env ruby

preprocess do
    @items.each do |item|
        if item[:submitted]
            item[:submitted] = DateTime.parse(item[:submitted].to_s)
        end

        if item[:creator]
            # Set title
            works = works_for(item)
            if works.size >= 2
                item[:title] = item[:title] + " I-" + works.size.to_roman
            end

            # Set thumbnail
            dir = item.identifier.to_s.split("/")[0..-2].join("/")+"/"
            thumb = @items[dir+"*.{png,jpg,jpeg,gif,svg,pdf,mp4,mkv,avi,webm}"]
            if thumb
                item[:thumbnail] = thumb.identifier
            else
                item[:thumbnail] = "/assets/images/preview.png"
            end
        end
    end
end

compile "/**/*.scss" do
    filter :sass, syntax: :scss
    write item.identifier.without_ext + ".css"
end

compile "/*.xml" do
    filter :erb
    write item.identifier
end

compile "/**/*.md" do
    filter :target_blank
    filter :kramdown
    layout "/default.*"
    write item.identifier.without_ext + ".html"
end

compile "/**/*.slim" do
    filter :slim
    layout "/default.*"
    write item.identifier.without_ext + ".html"
end

compile "/**/*.xml" do
    filter :erb
    write item.identifier.without_ext + ".html"
end

compile "/**/*.{png,jpg,jpeg,gif,svg}", :rep => :thumbnail do
    filter :thumbnailize, :height => 400
    write item.identifier + "-thumbnail.png"
end

compile "/**/*.{mp4,mkv,avi,webm}", :rep => :thumbnail do
    filter :videothumbnailize, :height => 400
    write item.identifier + "-thumbnail.png"
end

passthrough "/**/*"

layout "/**/*", :slim
