---
title: Terms of use
---

.text
    <h2>Terms of use</h2>
    <p>We want <strong>as many people as possible</strong> to enjoy the art in our collection. That's why all works are licensed under Creative Commons licenses, which are designed to <strong>promote freedom</strong>, which we think is great! You can find a link to the specific license on each museum label.</p>

    <p>This means that you’re free to <strong>share</strong> and to <strong>adapt</strong> the works: You can copy and redistribute them in any medium or format. You can print them and hang them on your wall, include them in presentations or on flyers. You can also remix, modify, and build upon the material.</p>

    <p>As long as you respect the following terms:</p>

.text
    <h2>For works licensed under <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0 1.0</a></h2>

    <p>No restrictions apply. Feel free to use them for anything without asking!</p>

    <h2>For works licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a></h2>

    <ul>
        <li><strong>attribution</strong> – give appropriate credit. You need to include the name of the creator(s), a link to the page containing the work, and a link to the respective license text on creativecommons.org.</li>
    </ul>

    <h2>For works licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a></h2>

    <ul>
        <li><strong>attribution</strong> – as above</li>
        <li><strong>share-alike</strong> – if you modify the works, you must distribute them under the same license as the original.</li>
    </ul>
