---
title: The Glitch Gallery
---


.text
    img.title src="/assets/images/glitchgallery.png"

    | <p>Welcome to the Glitch Gallery! This is an <strong>exhibition of pretty software bugs</strong>, a museum of accidental art, an enthusiastic embrace of mistakes, a celebration of emergent beauty. <a href="/about/">Learn more?</a></p>
    | <p>Below you can browse the exhibits in our collection. If you have ever encountered such an accidental artwork yourself, we <strong>invite you to <a href="/submit/">submit it to us</a>!</strong></p>

.grid
    - exhibits.reverse.each do |exhibit|
        == render "/tile.*", work: works_for(exhibit).first
