---
title: Contact
---

.text
    h2 Contact
    markdown: If you have comments, questions, feedback, or ideas for improvement, write to <strong><span>c<span title="ihate@spam.com</span>">u</span>rator</span>&#64;glitchgallery<i title="</i>mailto:">.</i>org</strong>. Alternatively, contact our Twitter account **[@glitchgallery](https://twitter.com/glitchgallery)**, or our Mastodon account **[@glitchgallery@botsin.space](https://botsin.space/@glitchgallery)**
