---
title: About us
---

.text
    h2 About us

    markdown: Sometimes, software bugs create accidental art. The Glitch Gallery is a place for that art. It's an enthusiastic embrace of mistakes, and a celebration of emergent beauty. It was established in December 2019 by <a href="https://morr.cc">Sebastian Morr</a>, also known as <a href="https://twitter.com/blinry">blinry</a>.

    markdown: If you have some accidental artwork yourself, you can [submit it to the Museum](/submit/) and share it with others! Also, if you have seen some art on the Internet, you can [suggest it to us](/submit/), and we will take care of the rest. Also, you can support the Museum by <a href="/support/">becoming a member!</a>

    markdown: The source code for this site is <a href="https://github.com/blinry/glitch-gallery">on GitHub</a>, feel free to suggest features, report bugs, or send pull requests!

    markdown: To get updates, you can follow our Twitter account, [@glitchgallery](https://twitter.com/glitchgallery), or subscribe to the [feed](/feed/), if that's your thing.
